<html>

<div id="component">
<!--  検索画面-->
  <input type="search" id="search" placeholder="トイレを探す">


<!--  地図表示-->
<div id="framework">
<div id = map>
</div>
</div>

  <div id = "modal-content">
    <p>あいうえお</p>
    <p><a id="modal-close" class="button-link">閉じる</a> </p>
  </div>


</div>



<!--<div>-->
<%# @toilet.each do |toile| %>
  <%#= toile.name %>
<%# end %>
<!--</div>-->

</html>
<style type="text/css">
  html{margin:0; padding:0;}


  #component{
    position:relative;
    z-index:0;
    top:10vh;
    background:#D4EBF8;
    height:80vh;
  }

  #search{
    position:absolute;
    top:3vh;
    left:0;
    right:0;
    width:80%;
    height:50px;
    margin:auto;
    border-radius:10px;
    font-size:30px;
    background:#fff;
  }


  #framework{
    height:60vh;
    padding: 10vh 100px 10vh 100px ;
  }

  #map{
    height:100%;
  }

  #modal-content{
    display:none;
    position:absolute;
    top:0;
    width:80%;
    height:70%;
    margin:1.5em auto 0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#fff;
    z-index:2;
  }

  .modal p{
    margin-top:1em;
  }

  .modal p:first-child{
    margin-top:0;
  }


  .button-link{
    color:#00f;
    text-decoration:underline;
  }

  .button-link:hover{
    cursor:pointer;
    color:#f00;
  }

  #modal-overlay{
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
  }

</style>

<script type="text/javascript">
  L.Icon.Default.imagePath = "../assets";
  var map = L.map("map").setView([36.11109, 140.10085],17);
  var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  var osmAttrib = "Map data OpenstreetMap contibutors";
  L.tileLayer(
      osmUrl,{
          attribution: osmAttrib,
          maxZoom: 20.
      }).addTo(map);

  var sampleIcon = L.icon({
      iconUrl: "/images/map-marker-alt-solid.svg",
      iconSize:[40,40],
      opacity:0.4,
      // popupAnchor:[0,-50],
  });


  // Placeデータベースの中身をmapに投影
  <% @places.each do |place| %>

  var popup ="場所："+"<%= place.name %>"+ "<br>"
      +"トイレの数：" + "<%= place.num %>" + "<br>"
  + "<p><a id = 'modal-open' class = 'button-link'>レビューを見る</p>";


      L.marker(['<%=place.latitude %>','<%= place.longitude %>'],{icon:sampleIcon}).bindPopup(popup).addTo(map);
<% end %>

    // レビューを見るボタンをクリックしたら、modal-windoが開く

    document.getElementById("modal-open").onclick =function () {
            var overlay = document.getElementById("modal-overlay");

            this.blur();
            if(overlay) return false;

            document.body.append('<div id="modal-overlay"></div>');
            overlay.fadeIn("slow");

            document.getElementById("modal-content").fadeIn("slow");
        };



</script>