<html>

<div id="component">
<!--  検索画面-->
  <input type="search" id="search" placeholder="トイレを探す">


<!--  地図表示-->
<div id="framework">
<div id = map>
</div>
</div>

</div>

<div>
<% @toilet.each do |toile| %>
  <%= toile.name %>
<% end %>
</div>

</html>
<style type="text/css">
  html{margin:0; padding:0;}


  #component{
    position:relative;
    z-index:0;
    top:10vh;
    background:#D4EBF8;
    height:80vh;
  }

  #search{
    position:absolute;
    top:3vh;
    left:0;
    right:0;
    width:80%;
    height:50px;
    margin:auto;
    border-radius:10px;
    font-size:30px;
    background:#fff;
  }


  #framework{
    height:60vh;
    padding: 10vh 100px 10vh 100px ;
  }

  #map{
    height:100%;
  }


</style>

<script type="text/javascript">
  L.Icon.Default.imagePath = "../assets";
  var map = L.map("map").setView([36.11109, 140.10085],17);
  var osmUrl = "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
  var osmAttrib = "Map data OpenstreetMap contibutors";
  L.tileLayer(
      osmUrl,{
          attribution: osmAttrib,
          maxZoom: 20.
      }).addTo(map);

  var sampleIcon = L.icon({
      iconUrl: "/images/map-marker-alt-solid.svg",
      iconSize:[20,20],
      popupAnchor:[0,-50],
  });

  L.marker([36.11061,140.10064],{icon:sampleIcon}).bindPopup("こんにちは").addTo(map);

  // var marker_3a = L.marker([36.1107, 140.10058]).addTo(map);
  //
  // marker_3a.setLatLng(e.latlng);

  // トイレの場所は、DBに保存し、controllerで操作した方が良い。model生成
//gem device とactiveadminが良い
</script>